@font-face{
	font-family: FontAwesome;
	src: url(fonts/fontawesome-webfont.ttf);
}
.ngc-menu{
	list-style: none;
	padding:0;
}
.ngc-menu li{
	display: inline-block;
}
.ngc-menu a{
	padding: 1em 2em;
	text-decoration: none;
	color:white;
	background-color: #23282d;
}
.ngc-menu a:hover{
	background:#191e23;
	color: #0073aa;
}
.ngc-menu .active a{
	background-color: #0073aa !important;
	color: white !important;
}
.ngc-icon{
	font-family: FontAwesome;
}
.ngc-icon-plus:before{
	content: "\f067";	
    top: 4px;
}
.ngc-icon-trash:before {
  content: "\f1f8";
}
.ngc-icon-pencil:before{
	content: "\f040";
}
.btn{
	padding:.5em 1em;
}
.btn:hover{
	cursor:pointer;
}
.btn-default{
	background-color:#FFF;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:hover:active{
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.ngc-float-wrapper{
	float:left;
}
.form-group{
	position: relative;
}
#ngcClientesForm{
	display: inline-flex;
	flex-wrap: wrap;
}
#ngcClientesForm .form-group{
	flex: 1 1 50%;
	display: flex;
	align-items: center;
}
#ngcClientesForm label{
	flex: 1 1 25%;
	padding: .2em;
	text-align: right;
}
#ngcClientesForm input{
	flex: 1 1 75%;
}
[ngc-grid]{
	position: relative;
	display:inline-block;
}
.ngc-table{
	position: relative;
}
.ngc-table tr{
	height: 3em;
}
.ngc-table tr:not(:first-child) th{
	background-color: #000055;
	color:white;	
}
.ngc-table tr:first-child th{
	text-align: left;
}
.ngc-table tbody tr:nth-child(2n) td:not(:last-child){
	background-color: #DFDFDF;
}
.ngc-table tfoot td>div{
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}
.ngc-table tfoot td>div>span{
	flex: 1;
	padding: .2em;
}
.ngc-table tfoot td>div>span:last-child{
	text-align: right;
}
.ngc-table .page:not(.btn-default)::before{
	content: "Pag. ";
}
[ngc-grid] .ngc-spinner{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(255,255,255,0.5);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 32px;
}
.ngc-table tr.ng-enter{
	animation: ngc_table_enter_even .5s; 
}
.ngc-table tr.ng-leave{
	animation: ngc_table_enter_even .5s reverse;
}
@keyframes ngc_table_enter_even{
	0%{
		position: aboslute;
		opacity: 0;
		transform: translateY(-10px);
	}
	98%{
		position: relative;
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes updown{
	0%{
		transform: initial;
	}
	50%{
		transform: translateY(10px);
	}
	100%{
		transform: initial;
	}
}
.ngc-spinner span{
	animation: updown 2s infinite; 
}
.ngc-icon-check:before {
  content: "\f00c";
}
.ngc-icon-remove:before {
  content: "\f00d";
}
.ngc-icon-refresh:before{
	content: "\f021";
}
.ngc-icon-fast-forward:before {
  content: "\f050";
}
.ngc-icon-fast-backward:before {
  content: "\f049";
}
.ngc-icon-bold:before {
  content: "\f032";
}
.ngc-icon-underline:before {
  content: "\f0cd";
}
.ngc-icon-italic:before {
  content: "\f033";
}
.ngc-icon-outdent:before {
  content: "\f03b";
}
.ngc-icon-align-left:before {
  content: "\f036";
}
.ngc-icon-align-center:before {
  content: "\f037";
}
.ngc-icon-align-right:before {
  content: "\f038";
}
.ngc-icon-align-justify:before {
  content: "\f039";
}
.ngc-icon-list:before {
  content: "\f03a";
}
.ngc-icon-indent:before {
  content: "\f03c";
}
.ngc-icon-undo:before{
  content: "\f0e2";
}
.ngc-icon-link:before {
  content: "\f0c1";
}
.ngc-icon-redo:before{
	content: "\f01e";
}
.ngc-icon-unlink:before{
	content: "\f127";
}
.ngc-icon-image:before {
  content: "\f1c5";
}
.ngc-icon-list-ul:before {
  content: "\f0ca";
}
.ngc-icon-save:before{
	content: "\f0c7";
}
.ngc-icon-folder:before, .ngc-icon-dir:before{
	content: "\f115";
}
.ngc-icon-file:before{
	content: "\f016";
}
.ngc-icon-list-ol:before {
  content: "\f0cb";
}
.ngc-icon-clock:before{
	content: "\f017";
}
.empty-btn:hover{
	cursor:pointer;
}
.ngc-input {
    width: 100%;
    border-radius: 3px;
}
[ngc-editor] iframe{
	background-color: white;
	flex:1 1 300px;
}
[ngc-editor], [ngc-editor]>div{
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
[ngc-editor]>div{
	background-color: #FCFCFC;
	border:1px solid #DBDBDB;
}
[ngc-editor] .toolbar{
	padding: .75em .75em;
	display: inline-block;
	border-left: 2px solid #CBCBCB;
	border-right: 2px solid #CBCBCB;
}
[ngc-editor] textarea{
	resize: none;
	flex:1 1 350px;
}
[ngc-editor] ul{
	display: flex;
	margin:0;
	padding:0;
}
[ngc-editor] li:hover{
	cursor: pointer;
}
[ngc-editor] li{
	margin:0;
	padding: .5em 1em;
	background-color: #ebebeb;
}
[ngc-editor] li.active{
	background-color: #FCFCFC;
	padding-bottom: .7em;
	transform: translateY(.1em);
	position: relative;
	z-index: 1000;
}
[ngc-editor] textarea.subject{
	flex-basis: 50px !important;	
}
[ngc-explorer]{
	width: 300px;
	display: inline-block;
	border: 1px solid #343434;
}
[ngc-explorer]>p{
	word-wrap:break-word;
}
[ngc-explorer] ul{
	max-height: 400px;
	overflow-y: scroll;
}
[ngc-explorer] li.ngc-dir:hover{
	background-color: #434343;
	color:white;
	cursor:pointer;
}
[ngc-explorer] li.ngc-file:hover{
	color:highlight;
	cursor: pointer;
}
[ngc-explorer] li.ngc-file.active{
	background-color: #2222FF;
	color:white;
}
.conf-container, .conf-form{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
}
.conf-container{
	flex-direction: row;
}
.conf-form .form-group{
	margin: .25em;
	display: flex;
	flex: 1;
	align-self: stretch;
	align-items: center;
	text-align: right;
}
.conf-form .form-group:last-of-type{
	margin-bottom: 1.5em;	
}
.conf-form .btn{
	align-self: flex-end;
}
.conf-form{
	background-color: #CBCBCB;
	padding: 2em 1em;
	margin: 1em;
}
.conf-form .form-group
.conf-form input, .conf-form select{
	flex:2;	
}
.conf-form label{
	flex:1;
}
.conf-form .form-group>span{
	flex:1;
}
span.validation-error {
	text-align: left;
    position: absolute;
    background: #FFFFCB;
    padding: .5em 2em;
    border-radius: .5em;
    color: red;
    z-index: 9999;	
    top: 100%;
    box-shadow: 1px 1px 1px black;
    white-space: nowrap;
}
span.validation-error::after {
    content: " ";
    position: absolute;
    border-top: 10px solid #FFFFCB;
    border-left: 5px solid #FFFFCB;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -.6em;
    right: 50%;
    transform: rotateZ(45deg);
}
span.validation-error::before{
	content: "\f05a";
	font-size: 1.4em;
	position: relative;
	transform: translateY(.4em);
	margin-right: .25em;
	color: red;
	font-family: FontAwesome;
}
span.validation-error.ng-hide-remove{
	animation: appear .3s;
}
@keyframes appear{
	0%{ 
		transform: scale(0) 
	}
	90%{
		transform: scale(1.1)
	}
	100%{
		transform: scale(1);
	}
}
.btn-container{
	display: flex;
	justify-content: flex-end;
	align-self: stretch;
}
[ngc-loading] .ngc-loading-background{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 99999;
	background-color: rgba(0,0,0,0.6);
}
[ngc-loading] .ngc-loading-wrapper{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 100000;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 4em;
	font-weight: bold;
	color:black;
}
[ngc-loading] span{
	animation: rotating 1s infinite;
	transform-origin: center;
}
@keyframes rotating{
	0%{
		transform: rotateX(0);
	}
	100%{
		transform: rotateX(360deg);
	}
}