@font-face{
	font-family: FontAwesome;
	src: url(fonts/fontawesome-webfont.ttf);
}
.ngc-icon{
	font-family: FontAwesome;
}
.ngc-icon-plus:before{
	content: "\f067";	
    top: 4px;
}
.ngc-icon-trash:before {
  content: "\f1f8";
}
.ngc-icon-pencil:before{
	content: "\f040";
}
.btn{
	padding:.5em 1em;
}
.btn:hover{
	cursor:pointer;
}
.btn-default{
	background-color:#FFF;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:hover:active{
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
[ngc-grid]{
	position: relative;
	display:inline-block;
}
.ngc-table{
	position: relative;
}
.ngc-table tr{
	height: 3em;
}
.ngc-table tr:not(:first-child) th{
	background-color: #000055;
	color:white;	
}
.ngc-table tr:first-child th{
	text-align: left;
}
.ngc-table tbody tr:nth-child(2n) td:not(:last-child){
	background-color: #DFDFDF;
}
.ngc-table tfoot td>div{
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}
.ngc-table tfoot td>div>span{
	flex: 1;
	padding: .2em;
}
.ngc-table tfoot td>div>span:last-child{
	text-align: right;
}
[ngc-grid] .ngc-spinner{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(255,255,255,0.5);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 32px;
}
@keyframes updown{
	0%{
		transform: initial;
	}
	50%{
		transform: translateY(10px);
	}
	100%{
		transform: initial;
	}
}
.ngc-spinner span{
	animation: updown 2s infinite; 
}
.ngc-icon-check:before {
  content: "\f00c";
}
.ngc-icon-remove:before {
  content: "\f00d";
}
.ngc-icon-refresh:before{
	content: "\f021";
}
.ngc-icon-fast-forward:before {
  content: "\f050";
}
.ngc-icon-fast-backward:before {
  content: "\f049";
}
.empty-btn:hover{
	cursor:pointer;
}
.ngc-input {
    width: 100%;
    border-radius: 3px;
}